/*** O PROJEKCIE ***/
.cl_logo {
    width: 146px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 52px;
    margin-left: 35px;
}
.partners {
    margin: 0 auto;
    width: 500px;
    // height: 400px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    #epanstwo {
        background-image: url('../images/partners/e_panstwo_logo.png');
    }

    #koduj {
        background-image: url('../images/partners/kdp_logo.png');
    }

    #techsoup {
        background-image: url('../images/partners/techsoup_logo.png');
    }

    #labee {
        background-image: url('../images/partners/labee_logo.png');
    }
}
header{
  width: 80%;
}
.long_logo {
    .cls-2 {
        fill: #faba20;
    }

    .cls-1,
    .cls-3,
    .cls-4 {
        fill: #4a4a49;
    }
}

#about {
    h1 {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        color: #feb933;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.175;
        padding-top: 35px;
        padding-bottom: 49px;
    }

    span {
        font-family: 'Ubuntu', sans-serif;
        color: #bcbec0;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.175;
        text-align: center;
    }

    p {
        color: #4d4d4f;
        font-size: 1.125rem;
    }
}

.budowa {}

.construction_site {
    margin: 0 auto;
    width: 60%;
}
/*** O NAS ***/
#aboutUs {
    p {
        color: #4d4d4f;
    }

    h2 {
        text-align: left;
        margin-top: 79px;
        margin-bottom: 43px;
    }
}
/*** O Projektach ***/
h3 {
    font-family: Ubuntu;
    color: #4d4d4f;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.48;
    text-align: center;
    margin-bottom: 53px;
}

#projects {
    h2 {
        font-family: 'Ubuntu', sans-serif;
        color: #4d4d4f;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.469;
        text-align: center;
        margin-top: 76px;
        margin-bottom: 50px;
    }
}

#project-list {
    margin: auto;
    width: 50%;

    li {
        border: 1px solid #bcbec0;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: none;
        font-family: Ubuntu;
        color: #4d4d4f;
        font-size: 0.938rem;
        font-weight: 400;
        line-height: 3.333;
        text-align: justify;
        list-style-image: url('../images/Elipsa%202.png');
        padding-left: 20px;
    }

    li:last-child {
        border-bottom: 1px solid #bcbec0;
    }
}

.pencil {
    margin: 50px auto;
    background-image: url("../images/programuj-spolecznie-olowek.svg");
    background-size: contain;
    width: 105px;
    height: 170px;
    background-repeat: no-repeat;
}
/*** O uczestnikach ***/
#aboutYou {
    background-color: #5753ad;

    h2 {
        font-family: 'Ubuntu', sans-serif;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2;
        padding-top: 75px;
        padding-bottom: 43px;
        text-align: left;
    }
}

.text {
    width: 500px;
    margin: 0 auto;

    p {
        font-family: 'Ubuntu', sans-serif;
        color: #ffffff;
        font-size: 0.938rem;
        font-weight: 400;
        line-height: 1.533;
        text-align: center;
    }
}

.magnifier {
    margin: 76px auto 49px;
    width: 166px;
    height: 120px;
    background-image: url('../images/programuj-spolecznie-lupa.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
/*** Od czego zacząć? ***/
#begin {
    p {
        color: #4d4d4f;
    }

    h2 {
        margin-top: 66px;
        margin-bottom: 50px;
    }
}
/*** Zgłoszenie ***/
.mouse {
    background-image: url('../images/programuj-spolecznie-miarka.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 204px;
    height: 109px;
    margin: 90px auto 84px;
}

#apply {
    h2 {
        font-family: 'Ubuntu', sans-serif;
        color: #4d4d4f;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.719;
        text-align: center;
        margin-top: 66px;
        margin-bottom: 50px;
    }

    p {
        color: #4d4d4f;
        text-align: center;
    }
}
/*** Partners ***/
#partners {
    h2 {
        margin-top: 68px;
        margin-bottom: 47px;
    }
}

.partner_logo {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}


/*** Contact ***/
#contact {
    h2 {
        line-height: 1.344;
        text-align: center;
        padding-top: 77px;
        padding-bottom: 42px;
    }
}

#contact_data {
    width: 80%;
    padding-bottom: 73px;
    margin: 0 auto;

    h2 {
        text-align: left;
    }

    p {
        font-family: Ubuntu;
        color: #fffffc;
        font-size: 0.938rem;
        font-weight: 400;
        line-height: 1.533;
    }
}
/*** Footer ***/
#footer {
    background-color: #4d4d4f;
}

.prog_logo {
    margin-top: -5px;
    width: 114px;
    height: 50px;
    background-image: url('../images/programuj-spolecznie-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.copyright {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
    // width: 900px;
    p {
        font-family: 'OpenSans', sans-serif;
        color: #ffffff;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 2.083;
    }
}

.author {
    font-weight: 600;
    color: #ffffff;
    margin-top: 20px;
}
