a:visited {
    text-decoration: none;
}

.author:visited {
    color: #fff;
}

.rev_orange_btn:hover {
    a {
        color: #ffffff;
        background-color: #fdb933;
    }
}

.orange_btn:hover {
    a {
        background-color: #ffcc4e;
    }
}

.gallery_btn:hover {
    a {
        color: #fff;
        background-color: #5753ad;
    }
}

.closing_btn:hover {
    animation-name: rotation;
    animation-duration: 2s;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

#left_image {
    animation-name: moveLeft;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    // animation: moveBack;
    // animation-duration: 5s;
    // animation-iteration-count: infinite;
    // animation-delay: 5s;
}
@keyframes moveLeft {
    0% {
        transform: translate3d(0px, 0px, 0px);
        // animation-timing-function: ease-in;
    }

    50% {
        transform: translate3d(-83px, 0px, 0px);
        // animation-timing-function: ease-out;
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}
// @keyframes moveBack {
//     from {
//         transform: translate(-83px);
//     }
//
//     to {
//         transform: translate(0px);
//     }
// }
