#columns figure:hover {
    background-color: #5753ad;

    figcaption {
        color: #fff;
    }
}

a:visited {
    text-decoration: none;
}

.cl_footer,
.cl_footer:visited {
    color: #fff;
}

.author:visited {
    color: #fff;
}

.rev_orange_btn:hover {
    color: #ffffff;
    background-color: #fdb933;
}

.orange_btn:hover {
    background-color: #ffcc4e;
}

.gallery_btn:hover {
    color: #fff;
    background-color: #5753ad;
}

.closing_btn:hover {
    animation-name: rotation;
    animation-duration: 2s;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.left_image {
    animation-name: moveLeft;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.right_image {
    animation-name: moveRight;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes moveRight {
    0% {
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        // animation-timing-function: ease-in;
    }

    50% {
        -ms-transform: translate(180px, 0px);
        transform: translate(180px, 0px);
        // animation-timing-function: ease-out;
    }

    100% {
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes moveLeft {
    0% {
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    50% {
        -ms-transform: translate(-83px, 0px);
        transform: translate(-83px, 0px);
    }

    100% {
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
