#columns figure:hover {
    background-color: #5753ad;

    figcaption {
        color: #fff;
    }
}

a:visited {
    text-decoration: none;
}

.cl_footer,
.cl_footer:visited {
    color: #fff;
}

.author:visited {
    color: #fff;
}

.rev_orange_btn:hover {
    color: #ffffff;
    background-color: #fdb933;
}

.orange_btn:hover {
    background-color: #ffcc4e;
}

.gallery_btn:hover {
    color: #fff;
    background-color: #5753ad;
}

.closing_btn:hover {
    animation-name: rotation;
    animation-duration: 2s;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

#left_image {
    -webkit-animation: moveLeft 7s infinite;
    -moz-animation: moveLeft 7s infinite;
    -ms-animation: moveLeft 7s infinite;
    // -o-animation: moveLeft 7s infinite;
    animation: moveLeft 7s infinite;
}

#right_image {
    -webkit-animation: moveRight 7s infinite;
    animation: moveRight 8s infinite;
}
@keyframes moveRight {
    0% {
        transform: translateX(0px);
        // animation-timing-function: ease-in;
    }

    50% {
        transform: translateX(180px);
        // animation-timing-function: ease-out;
    }

    100% {
        transform: translateX(0px);
    }
}
@-webkit-keyframes moveRight {
    0% {
        transform: translateX(0px);
        // animation-timing-function: ease-in;
    }

    50% {
        transform: translateX(180px);
        // animation-timing-function: ease-out;
    }

    100% {
        transform: translateX(0px);
    }
}
@keyframes moveLeft {
    0% {
        transform: translate3d(0px, 0px, 0px);
        // animation-timing-function: ease-in;
    }

    50% {
        transform: translate3d(-83px, 0px, 0px);
        // animation-timing-function: ease-out;
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}
@-webkit-keyframes moveLeft {
    0% {
        transform: translate3d(0px, 0px, 0px);
        // animation-timing-function: ease-in;
    }

    50% {
        transform: translate3d(-83px, 0px, 0px);
        // animation-timing-function: ease-out;
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}
