/*** NAV DESKTOP ***/
#reg_nav {
    display: inline-block;
    top: 50px;
    position: fixed;
    right: 0;
    clear: both;
    // width: 100%;
}

#desktop_menu {
    .sec_name {
        font-family: 'Ubuntu', sans-serif;
        color: #4d4d4f;
        font-size: 0.813rem;
        font-weight: 500;
        display: block;
        float: left;
        position: absolute;
    }

    #first_name {
        top: 24px;
    }

    #second_name {
        top: 24+63px;
    }

    #third_name {
        top: 24+63*2px;
    }

    #fourth_name {
        top: 24+63*3px;
    }

    #fifth_name {
        top: 24+63*4px;
    }

    .sec_num {
        display: block;
        float: left;
        clear: both;
        font-family: 'Ubuntu', sans-serif;
        color: #bcbec0;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 2.25;
        top: -13px;
        left: -18px;
        position: relative;
    }

    .long_bar {
        display: inline-block;
        background-color: #bcbec0;
        width: 99px;
        height: 2px;
        float: right;
        clear: both;
        margin-bottom: 7px;
    }

    .short_bar {
        display: inline-block;
        float: right;
        clear: both;
        background-color: #bcbec0;
        width: 15px;
        height: 2px;
        margin-bottom: 7px;
    }

    .longer_bar {
        display: inline-block;
        float: right;
        clear: both;
        background-color: #bcbec0;
        width: 116px;
        height: 2px;
    }
}
/*** NAV MOB***/
#mob_nav {
    display: none;
    display: inline-block;
    top: 50px;
    position: fixed;
    right: 0;
    clear: both;

    #hamb_menu_big {
        // display: none;
        width: 220px;
        background-color: #5753ad;
        box-shadow: -2px 2px 2.86px 10.14px rgba(0, 0, 0, 0.06);
        height: 797px;

        .closing_btn {
            background-image: url('../images/X_sign.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            float: right;
            margin-top: 20px;
            margin-right: 20px;
            transform-origin: center center;
        }

        #mob_menu {
            margin-top: 57px;
            margin-left: 30px;

            .sec_name {
                font-family: 'Ubuntu',sans-serif;
                color: #fefefe;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.688;
            }

            .sec_num {
                font-family: 'Ubuntu',sans-serif;
                color: #fefefe;
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 2.25;
                position: relative;
                top: -13px;
                left: -18px;
            }

            .long_bar {
                background-color: #fefefe;
                width: 101px;
                height: 3px;
                margin: 25px 0 25px 20px;
            }

            .longer_bar {
                background-color: #fefefe;
                width: 119px;
                height: 3px;
                margin: 20px 0;
            }
        }
    }

    .hamb_bar {
        position: relative;
        clear: both;
        height: 3px;
        margin-bottom: 7px;
        width: 38px;
        background-color: #4d4d4f;
    }
}
